.main-container {
  display: flex;
  width: 90vw;
  margin: auto;
  margin-top: 2em;
}

.category-board {
  display: inline-block;
  border: 1px solid var(--border);
  border-radius: 6px;
  height: 100%;
  min-height: 500px;
  width: 270px;
  padding: 0 1em;
  padding-top: 1em;
  margin: 1em 0.5em;
}

.kanban-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.kanban-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 100%;
  margin-bottom: 1em;
  background-color: var(--background-100);
  color: var(--text);
  border: 1px solid var(--accent-light);
  border-top: 4px solid var(--accent);
  border-radius: 4px;
  padding: 1em;
  padding-bottom: 0.7em;

  & hr {
    width: 100%;
    height: 1px;
    background: var(--border);
    border: none;
  }

  & > .container {
    & > .textbox {
      background: var(--background);
      display: block;
      resize: vertical;
      height: 8em;
      width: 100%;
      box-sizing: border-box;
      border: 4px solid var(--background);
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--border);
  }

  & > :not(.controls) {
    flex-grow: 1;
  }

  & label.checkbox {
    display: inline-block;
  }
}

.kanban-item-config {
  margin-top: .5em;
  // margin-bottom: .5em;


  & > .controls {
    display: flex;
    flex-direction: row;
  }

  & > .controls-general {
    margin-bottom: .2em;
  }
}