textarea,
button,
input {
  background: none;
  border: none;
  outline: none;
  resize: none;
  border-radius: 4px;
  color: var(--text);
}

button {
  cursor: pointer;

  &.button-control {
    background: var(--text);
    color: var(--background-100);
  }

  &.button-delete {
    background: none;
    color: var(--red);
  }

  &.create-item {
    background: var(--blue);
    color: var(--text);
    margin: 0.25em;
    padding: 0.1em 0.5em;

    &:hover {
      border-bottom: 0;
      outline: 2px solid var(--blue-l);
    }

    & > .fa-plus {
      font-size: 0.7em;
    }
  }
}

.light-mode {
  & .create-item {
    background: var(--blue-l);
    &:hover {
      outline: 2px solid var(--blue);
    }
  }
}

label.checkbox > input {
  &[type="checkbox"] {
    display: none;
  }

  &:checked ~ .fa-square {
    display: none;
  }

  &:not(:checked) ~ .fa-square-check {
    display: none;
  }
}

.checkbox:not(:hover) > .task-delete {
  opacity: 0;
}
