textarea,
button,
input {
  background: none;
  border: none;
  outline: none;
  resize: none;
  border-radius: 4px;
  color: var(--text);
}

button {
  &.button-control {
    background: var(--text);
    color: var(--background-100);
  }

  &.button-delete {
    background: none;
    color: var(--red);
  }

  &.create-item {
    background: var(--blue-l);
    color: var(--text);
    margin: 0.2em;
    padding: 0.1em 0.5em;

    & > .fa-plus {
      font-size: 0.7em;
    }
  }
}

label.checkbox > input {
  &[type="checkbox"] {
    display: none;
  }

  &:checked ~ .fa-square {
    display: none;
  }

  &:not(:checked) ~ .fa-square-check {
    display: none;
  }
}
