textarea,
button,
input {
  background: none;
  border: none;
  outline: none;
  resize: none;
  border-radius: 4px;
  color: var(--text);
}

button {
  cursor: pointer;

  &.button-control {
    background: var(--text);
    color: var(--background-100);
  }

  &.button-delete {
    background: none;
    color: var(--red);
  }

  &.create-item {
    background: var(--blue);
    color: var(--text);
    margin: 0.25em;
    padding: 0.1em 0.5em;

    &:hover {
      border-bottom: 0;
      outline: 2px solid var(--blue-l);
    }

    & > .fa-plus {
      font-size: 0.7em;
    }
  }

  &.item-config {
    font-size: .9em;
    display: inline-block;
    background: var(--background-100);

    // max-width: 2em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--border);
    padding: .2em .45em;
    margin: .1em .25em;

    transition: .05s ease-out;

    &:hover {
      background: var(--border-100);
    }

    & > .fa-plus {
      font-size: 0.7em;
    }
  }
}

.light-mode {
  & .create-item {
    background: var(--blue-l);

    &:hover {
      outline: 2px solid var(--blue);
    }
  }
}

label.checkbox {
  & > i {
    cursor: pointer;
  }

  & > input {
    &[type="checkbox"] {
      display: none;
    }

    &:checked {
      & ~ .fa-square {
        display: none;
      }

      & ~ input {
        text-decoration: line-through;
        opacity: .8;
      }
    }

    &:not(:checked) ~ .fa-square-check {
      display: none;
    }
  }
}

.checkbox:not(:hover) > .task-delete {
  opacity: 0;
}

.toolbar > button {
  font-size: 1.3em;
  transition: transform ease .1s;

  &:hover {
    transform: scale(1.2);
  }
}