textarea,
button,
input {
  background: none;
  border: none;
  outline: none;
  resize: none;
  border-radius: 4px;
}

button.button-control {
  background: var(--text);
  color: var(--background-100);
}

button.button-delete {
  background: none;
  color: var(--red);
}

button.create-item {
  background: var(--blue-l);
  color: var(--text);
  margin: 0.2em;
  padding: 0.1em 0.5em;
}

button.create-item > .fa-plus {
  font-size: 0.7em;
}

label.checkbox > input:checked ~ .fa-square {
  display: none;
}

label.checkbox > input:not(:checked) ~ .fa-square-check {
  display: none;
}

label.checkbox > input[type="checkbox"] {
  display: none;
}
