:root {
  --green: #79eb34;

  --red: #ed3d18;

  --yellow: #ffcb0c;
  --yellow-l: #ffcb0c76;

  --lightblue: #15f4b8;
  --lightblue-l: #15f4b876;

  --blue: #4e7de6;
  --blue-l: #95b1ee;

  --shadow: #0008;
}

body {
  --background: #28272d;
  --background-100: #2e2d32;
  --text: #f9f9f9;
  --border: #f9f9f965;
  --border-100: #f9f9f930;

  --accent: var(--yellow);
  --accent-light: var(--yellow-l);

  color: var(--text);
  background: var(--background);

  transition: .5s ease-out;
}

.light-mode {
  --background: #f9f9f9;
  --background-100: #f9f9f9bf;
  --text: #313134;
  --border: #16161965;
  --border-100: #16161930;
  --shadow: #3334;
}
